{% extends 'FirstApp/base.html' %}
{% block content %}

  <section class="page-section cta">

    <div class="container">
      <div class="row bg-faded p-5 rounded">
       <div class="col-xl-9 mx-auto">

    <p><em>Oops ! I did it again.</em></p>
    <p>Une erreur s'est produite. Nous sommes actuellement en liaison directe avec Britney pour investiguer sur les causes du drame.</p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://www.youtube.com/embed/CduA0TULnow" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    </div>
    </div>


{% endblock %}